<%- include('../compartido/cabecera')%>
<div class="container">

    <div class="container">
        <div class="col-3 align-self-end">
            <ul>
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><%= user.nombre%></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a href="/usuario/ruta/mostrar-usuarios-uno/<%= user.id %>" class="dropdown-item">Editar Usuario</a>
                    <a href="/producto/rutas/crear-producto" class="dropdown-item">Publicar Producto</a>
                    <div class="dropdown-divider"></div>
                    <a href="/usuario/logout"class="dropdown-item">Logout</a>
                </div>
            </ul>
        </div>

        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="https://blogthinkbig.com/wp-content/uploads/2016/02/libros-biblioteca-620x413.jpg"
                         class="card-img-top"
                         width="400"
                         height="200">
                    <div class="card-body">
                        <h5 class="card-title">Educacion</h5>
                        <p class="card-text"></p>
                        <a href="/producto" class="btn btn-primary">Ir a</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="https://previews.123rf.com/images/shutter999/shutter9991309/shutter999130900022/23200641-comunicaci%C3%B3n-de-internet-y-el-concepto-de-computaci%C3%B3n-en-la-nube.jpg" class="card-img-top"
                         width="400"
                         height="200">
                    <div class="card-body">
                        <h5 class="card-title">Consumibles</h5>
                        <p class="card-text"></p>
                        <a href="/producto" class="btn btn-primary">Ir a</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="https://previews.123rf.com/images/godfather744431/godfather7444311411/godfather744431141100139/33242392-art%C3%ADculos-del-hogar-icono-de-etiquetas-de-color.jpg"
                         class="card-img-top"
                         width="400"
                         height="200">
                    <div class="card-body">
                        <h5 class="card-title">Electronica</h5>
                        <p class="card-text"></p>
                        <a href="/producto" class="btn btn-primary">Ir a</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


<%- include('../compartido/pie-de-pagina')%>
