<%- include('../compartido/cabecera')%>
<div class="container">

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="https://blogthinkbig.com/wp-content/uploads/2016/02/libros-biblioteca-620x413.jpg"
                         class="card-img-top"
                         width="400"
                         height="200">
                    <div class="card-body">
                        <h5 class="card-title">Categoria 1</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="/usuario/categoria-productos" class="btn btn-primary">Ir a</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="https://previews.123rf.com/images/shutter999/shutter9991309/shutter999130900022/23200641-comunicaci%C3%B3n-de-internet-y-el-concepto-de-computaci%C3%B3n-en-la-nube.jpg" class="card-img-top"
                         width="400"
                         height="200">
                    <div class="card-body">
                        <h5 class="card-title">Categoria 2</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Ir a</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="https://previews.123rf.com/images/godfather744431/godfather7444311411/godfather744431141100139/33242392-art%C3%ADculos-del-hogar-icono-de-etiquetas-de-color.jpg"
                         class="card-img-top"
                         width="400"
                         height="200">
                    <div class="card-body">
                        <h5 class="card-title">Categoria 3</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Ir a</a>
                    </div>
                </div>
            </div>
            <div class="w-100"><br></div>

            <div class="w-100"></div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Categoria 1</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Ir a</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Categoria 2</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Ir a</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Categoria 3</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Ir a</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>


<%- include('../compartido/pie-de-pagina')%>
