<%- include('../../compartido/cabecera') %>
<div class="container">

    <h1>rol</h1>

    <a href="/rol/crear">
        <button type="button"
                class="btn btn-primary">
            Crear rol
        </button>
    </a> <!-- anchor -> ancla -->

    <%if(datos.rol){%>
        <%- include('../componentes/mostrar-tabla-rol',{
        rol:datos.rol
        })%>
    <%}%>

</div>
<%- include('../../compartido/pie-de-pagina') %>
